# @prisma/client paketinin postinstall generate'ini kapat (node_modules\.prisma EPERM)
# https://www.prisma.io/docs/guides/database/troubleshooting-orm/help-articles/vercel-build-issue
# Not: npm install öncesi ortam değişkeni de işe yarar:
#   set PRISMA_SKIP_POSTINSTALL_GENERATE=true   (cmd)
#   $env:PRISMA_SKIP_POSTINSTALL_GENERATE="true" (PowerShell)
